<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="internalOnly" package="com.aicams.android" android:versionCode="1" android:versionName="1.0.0">
	<uses-sdk android:minSdkVersion="19" />
	<uses-permission android:name="android.permission.USE_FINGERPRINT" />
	<uses-permission android:name="com.samsung.android.providers.context.permission.WRITE_USE_APP_FEATURE_SURVEY" />
	<application android:label="AIC-AMS" android:icon="@drawable/icon" android:supportsRtl="true"></application>
</manifest>